@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
body {
  min-height: 100dvh;
}
.wrapper {
  padding: 1rem;
}

h1 {
  font-weight: 700;
  padding: 10px 0;
}
ul {
  list-style: none;
}
table {
  margin-bottom: 2rem !important;
}
